@font-face {
    font-family: "icon";
    src: url("../assets/fontawesome-pro-5.15.3-web/webfonts/fa-light-300.eot");
    src: url("../assets/fontawesome-pro-5.15.3-web/webfonts/fa-light-300.woff") format("woff"),
        url("../assets/fontawesome-pro-5.15.3-web/webfonts/fa-light-300.svg") format("svg");
}

@font-face {
    font-family: "icon-b";
    src: url("../assets/fontawesome-pro-5.15.3-web/webfonts/fa-brands-400.eot");
    src: url("../assets/fontawesome-pro-5.15.3-web/webfonts/fa-brands-400.woff") format("woff"),
        url("../assets/fontawesome-pro-5.15.3-web/webfonts/fa-brands-400.svg") format("svg");
}

@font-face {
    font-family: "exo";
    src: url("../assets/fonts/Exo-Regular.ttf");
} 

body{
    font-family: "exo";
    margin: 0;
}

.page-header{
    position: sticky;
    top: 0;
    z-index: 100;
    background: white;
    box-shadow: 0 0 8px #bbbbbb;
}

.page-footer{
    background-color: #927a56;
    padding: 2em 0;
}

a{
    text-decoration: none;
    color: unset;
}

/* /////////////DEFINE///////////////////// */

.grid_group{
    display: grid;
}

.flex_group{
    display: flex;
}

.flex_wrap{
    flex-wrap: wrap;
}

.flex_center{
    justify-content: center;
}

.e_center{
    margin: auto;
    width: fit-content;
}

.banner{
    height: 5em;
    text-align: center;
    background: #927a56;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.button{
    padding: 1em 2em;
    border: 1px solid black;
    cursor: pointer;
    transition: all .5s cubic-bezier(0.24, 0.57, 0.58, 1);
    margin-bottom: 1em;
}

.button:hover{
    background-color: black;
    color: white;
}

/* //////////////////////////////////////////////// */
.search_ico::before{
    content: "\f002";
    font-family: "icon";
    /* font-weight: bolder; */
}

.cart_ico::before{
    content: "\f07a";
    font-family: "icon";
    /* font-weight: bolder; */
}

.menu_ico::before{
    content: "\f0c9";
    font-family: "icon";
    /* font-weight: bolder; */
}

.facebook_ico::before{
    content: "\f09a";
    font-family: "icon-b";
}

.instagram_ico::before{
    content: "\f16d";
    font-family: "icon-b";
}

.mail_ico::before{
    content: "\f0e0";
    font-family: "icon";
}

.minus_ico::before{
    content: "-";
}

.plus_ico::before{
    content: "+";
}

.remove_ico::before{
    content: "X";
}
/* //////////////////////////////////////////////// */

[product]{
    cursor: pointer;
    transition: border .5s cubic-bezier(0.24, 0.57, 0.58, 1);
    border: solid 1px white;
}

[product] > img{
    width: 100%;
}

[product]:hover{
    border: solid 1px black;
}

/* //////////////////////////////////////////////// */

.size_1-5{
    font-size: 1.5em;
}

.price::before{
    content: "$";
}

@media only screen and (max-width: 1000px){ /*desktop*/
    .desktop{display: none!important;}
}

@media only screen and (max-width: 500px){ /*desktop*/
    .top_nav{
        padding: 1.5em 1em!important;
    }
    .banner_caption{
        font-size: 2em!important;
    }
    .page-footer > .containter{
        width: 80vw!important;
    }
    .page-footer > .containter > .item{
        width: 100%!important;
    }
    .product_container{
        width: 100%!important;
    }
    .product_info > div:not(.product_count){
        width: 100%;
    }
    .product_thumbnail{
        width: 34%!important;
    }
    .product_info{
        width: 45%!important;
    }
    .product_list{
        grid-template-columns: auto auto!important;
    }
    .product_p > .preview_image{
        width: 100%!important;
    }
    .product_p{
        padding: 0!important;
        margin: auto!important;
        background: none!important;
    }
    .product_p > .product_info{
        width: 90%!important;
    }
}

@media only screen and (min-width: 1000px){
    .mobile{display: none!important;}
}

@media only screen and (max-width: 400px){
}

.splide__slide img{
    width: 100%;
}

.top_nav{
    max-width: 80em;
    padding: 1.5em 7em;
    display: flex;
    gap: 1em;
    margin: auto;
}

.top_nav > img{
    width: 9em;
}

.top_menu{
    display: flex;
    gap: 2em;
    align-items: center;
    margin-left: auto;
}

.top_menu_item{
    cursor: pointer;
    position: relative;
}

.top_menu_icon{
    display: flex;
    gap: 1em;
    margin-left: 1em;
}

.banner_caption{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: white;
    flex-direction: column;
    font-size: 5em;
}

.banner_caption > span:first-child{
    font-size: .5em;
    font-weight: lighter;
}

.banner_caption > span:last-child{
    font-size: .5em;
    font-weight: lighter;
}

.product_display{
    margin: 5em auto;
    gap: 1em;
}

.product_display > .item{
    width: 18em;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.product_display > .item > img{
    width: 8em;
}

.product_list{
    margin-top: 3em;
    margin-bottom: 1em;
    gap: 1em;
}

.product_list > .item{
    background: #f3f3f3;
    box-shadow: 1px 4px 8px #bbbbbb;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1em;
}


.side_nav{
    backdrop-filter: blur(2px);
    position: absolute;
    right: 0;
    left: 0;
}

.side_nav_container{
    width: 65%;
    height: 100vh;
    background: #927a56;
    display: flex;
    flex-direction: column;
}

.side_nav_list{
    padding: 1.5em 1em 1.5em 0;
}

.side_nav_list > div{
    padding-left: 1em;
    color: white;
}

.hide-menu {
    opacity: 0;
    transform: translate3d(-411px, 0, 0);
    transition: all 0.3s cubic-bezier(0.54, 0.07, 0, 0.96);
}

.show-menu {
    z-index: 1;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: all 0.3s cubic-bezier(0.54, 0.07, 0, 0.96);
}

.current-path{
    border-left: 3px solid white;
}

.page-footer > .containter{
    color: white;
    gap: 1em;
    width: 80%;
    max-width: 80em;
}

.page-footer > .containter > .item{
    width: 25em;
    flex-grow: 1;
}

.page-footer > .containter > .item > p:first-child{
    font-size: 2em;
    font-weight: bolder;
}

.page-footer > .containter > .item > p:last-child{
    overflow-wrap: break-word;
}

.contact_container{
    gap: 3em;
    margin: 2em 0;
    text-align: center;
}

.contact_item{
    width: 13em;
}

.contact_item > p:first-child{
    font-size: 1.5em;
    font-weight: bolder;
}

.social_list{
    display: flex;
    justify-content: center;
    font-size: 2em;
    color: black;
    gap: 1em;
    margin-bottom: 1em;
    transition: all .5s cubic-bezier(0.24, 0.57, 0.58, 1);
}

.social_list > a > div:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.product_container{
    width: 50%;
    margin: 3em auto;
    border-top: 1px solid#c0c0c0;
    padding: 2em 0;
}

.product_container > .item{
    box-shadow: 0px 0px 8px #00000082;
}

.product_container:last-child{
    border-bottom: 1px solid #c0c0c0;
}

.product_thumbnail{
    width: 18%;
}

.product_thumbnail > img{
    width: 100%;
}

.product_info{
    width: 69%;
    justify-content: space-between;
    /* align-items: center; */
}

.product_title{
    font-size: 1.5em;
    /* font-weight: bolder; */
}

.just_a_element{
    gap: 1em;
    align-items: center;
}

.just_a_element > div:last-child{
    margin: 0 5%;
    text-align: center;
    cursor: pointer;
}

.product_count{
    width: fit-content;
    display: flex;
    border: 1px solid black;
    align-items: center;
}

.product_count > div{
    width: 1.5em;
    text-align: center;
    /* font-weight: bolder; */
    cursor: pointer;
    height: 1.62em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in;
}

.product_count > div:hover{
    background-color: black;
    color: white;
}

.product_count > input{
    width: 3em;
    height: 1.8em;
    text-align: center;
    border-top: none;
    border-bottom: none;
}

.product_count > input:focus-visible{
    outline: none;
}

.checkout_container{
    gap: 1em;
}

.checkout_total > span{
    margin: auto;
}

.product_section{
    max-width: 80em;
    width: 95%;
    margin: auto;
}

.new_arrival{
    grid-template-columns: auto auto auto auto;
    max-width: 61em;
    width: 90%;
}

.product_section > .product_list{
    grid-template-columns: auto auto auto auto auto;
}

.product_p{
    max-width: 80em;
    margin: .5em auto 1em auto;
    background: #f3f3f3;
    padding: 3em 0;
    gap: 1em;
    box-shadow:0px 5px 8px #bbbbbb;
    row-gap: 2em;
    
}

.product_p > .preview_image{
    width: 40%;
}

.product_p > .product_info{
    width: 45%;
    height: fit-content;
    gap: 1em;
}

.product_p > .product_info > .button{
    width: fit-content!important;
}

.cart_count{
    position: absolute;
    font-size: .6em;
    width: 1.2em;
    height: 1.2em;
    background: #927a56;
    color: white;
    border-radius: 50%;
    text-align: center;
    top: -.3em;
    left: 1.2em;
}