@font-face {
    font-family: "icon";
    src: url("../assets/fontawesome-pro-5.15.3-web/webfonts/fa-light-300.eot");
    src: url("../assets/fontawesome-pro-5.15.3-web/webfonts/fa-light-300.woff") format("woff"),
        url("../assets/fontawesome-pro-5.15.3-web/webfonts/fa-light-300.svg") format("svg");
}

@font-face {
    font-family: "icon-b";
    src: url("../assets/fontawesome-pro-5.15.3-web/webfonts/fa-brands-400.eot");
    src: url("../assets/fontawesome-pro-5.15.3-web/webfonts/fa-brands-400.woff") format("woff"),
        url("../assets/fontawesome-pro-5.15.3-web/webfonts/fa-brands-400.svg") format("svg");
}

@font-face {
    font-family: "exo";
    src: url("../assets/fonts/Exo-Regular.ttf");
} 

body{
    font-family: "exo";
    margin: 0;
}

.page-header{
    position: sticky;
    top: 0;
    z-index: 100;
    background: white;
    box-shadow: 0 0 8px #bbbbbb;
}

.page-footer{
    background-color: #927a56;
    padding: 2em 0;
}

a{
    text-decoration: none;
    color: unset;
}

/** /////////////DEFINE///////////////////// */
[class*="--maincolor"]{
    color: #927a56;
}

[class*="--hover"]:hover{
    cursor: pointer;
}

[class*="--hover__maincolor"]:hover{
    color: #927a56;
}

[class*="--mt2"]{
    margin-top: 2em;
}

[class*="--mb2"]{
    margin-bottom: 2em;
}

.grid_group{
    display: grid;
}

.flex_group{
    display: flex;
}

.flex_wrap{
    flex-wrap: wrap;
}

.flex_center{
    justify-content: center;
}

.e_center{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.banner{
    height: 5em;
    text-align: center;
    background: #927a56;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.button{
    padding: 1em 2em;
    border: 1px solid black;
    cursor: pointer;
    transition: all .5s cubic-bezier(0.24, 0.57, 0.58, 1);
    margin-bottom: 1em;
}

.button:hover{
    background-color: black;
    color: white;
}

/* //////////////////////////////////////////////// */
.search_ico::before{
    content: "\f002";
    font-family: "icon";
    /* font-weight: bolder; */
}

.cart_ico::before{
    content: "\f07a";
    font-family: "icon";
    /* font-weight: bolder; */
}

.menu_ico::before{
    content: "\f0c9";
    font-family: "icon";
    /* font-weight: bolder; */
}

.facebook_ico::before{
    content: "\f09a";
    font-family: "icon-b";
}

.instagram_ico::before{
    content: "\f16d";
    font-family: "icon-b";
}

.mail_ico::before{
    content: "\f0e0";
    font-family: "icon";
}

.minus_ico::before{
    content: "-";
}

.plus_ico::before{
    content: "+";
}

.remove_ico::before{
    content: "X";
}
/* //////////////////////////////////////////////// */

[product]:not(.product_title){
    cursor: pointer;
    transition: border .5s cubic-bezier(0.24, 0.57, 0.58, 1);
    border: solid 1px white;
}

[product] > img{
    width: 100%;
    display: block;
}

[product]:hover{
    border: solid 1px black;
}

/* [product] > h3{
    height: 2.5em;
} */

/* //////////////////////////////////////////////// */
.sort_section *:not(h3,.checkmark){
    margin-left:.5em ;
}

/* The container */
.rad_checkbox {
    display: block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .rad_checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .rad_checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .rad_checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .rad_checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .rad_checkbox .checkmark:after {
       top: 6px;
      left: 6px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }

.size_1-5{
    font-size: 1.5em;
}

/* .price::after{
    content: "Ä";
} */

.old-price{
    text-decoration: line-through;
    color: #b1b1b1;
    margin-right: 6px;
}

@media only screen and (max-width: 1000px){ /*desktop*/
    .desktop{display: none!important;}
    .product_list{
        grid-template-columns: calc(100%/2.1) calc(100%/2.1)!important;
    }
    .top_nav{
        padding: 1.5em 1em!important;
    }
    .page-footer > .containter > .item > p:first-child{
        font-size: 1em!important;
    }
    .page-footer > .containter > .item > p:last-child{
        font-size: .9em!important;
    }
    .product_section{
        grid-template-columns: auto!important;
    }
    .banner_caption{
        font-size: 7vw!important;
    }
}

@media only screen and (max-width:1000px) and (min-width:715px){
    .sort_section{
        width: 40em;
        margin: auto;
    }
}

@media only screen and (max-width: 800px){
    .product_info{
        flex-direction: column!important;
        align-items: normal!important;
    }
    .product_price{
        flex-direction: row!important;
        gap: .4em;
    }
}

.product_price{
    flex-direction: column;
}

@media only screen and (max-width: 500px){ /*desktop*/
    .page-footer > .containter > .item > p:first-child{
        font-size: .8em!important;
    }
    .page-footer > .containter > .item > p:last-child{
        font-size: .5em!important;
    }
    .product_display > .item > img{
        width: 4em!important;
    }
    .page-footer > .containter{
        width: 80vw!important;
    }
    .page-footer > .containter > .item{
        width: 100%!important;
    }
    .product_info > div:not(.product_count){
        width: 100%;
    }
    .product_p > .preview_image{
        width: 100%!important;
    }
    .product_p{
        padding: 0!important;
        margin: auto!important;
        background: none!important;
    }
    .product_p > .product_info{
        width: 90%!important;
    }
}

@media only screen and (min-width: 1000px){
    .mobile{display: none!important;}
}

@media only screen and (max-width: 400px){
}

[id^='thumbnail-slider-slide']:not(.is-active):hover{
    border: 3px solid rgb(133, 133, 133)!important;
}

.splide__slide img{
    width: 100%;
}

[class^='imgpre_']{
    height: 100%;
    object-fit: contain;
    background-color: #cdbda4;
}

.top_nav{
    max-width: 80em;
    padding: 1.5em 7em;
    display: flex;
    gap: 1em;
    margin: auto;
}

.top_nav > img{
    width: 9em;
}

.top_menu{
    display: flex;
    gap: 2em;
    align-items: center;
    margin-left: auto;
}

.top_menu_item{
    cursor: pointer;
    position: relative;
    margin-left: .7em;
}

.top_menu_icon{
    display: flex;
    /* gap: 1em; */
    margin-left: 1em;
}

.banner_caption{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: white;
    flex-direction: column;
    font-size: 5em;
}

.banner_caption > span:first-child{
    font-size: .5em;
    font-weight: lighter;
}

.banner_caption > span:last-child{
    font-size: .5em;
    font-weight: lighter;
}

.product_display{
    margin: 5em auto;
    gap: 1em;
}

.product_display > .item{
    width: 18em;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.product_display > .item > img{
    width: 8em;
}

.product_list{
    gap: 1em;
}

.product_list > a > .item{
    background: #f3f3f3;
    box-shadow: 1px 4px 8px #bbbbbb;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1em;
}


.side_nav{
    position: absolute;
    right: 0;
    left: 0;
}

.side_nav_container{
    width: 65%;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
}

.side-nav__backdrop{
    display: none;
    backdrop-filter: brightness(0.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.side_nav_list{
    padding: 1.5em 1em 1.5em 0;
}

.side_nav_list > div{
    padding: 1em;
    border-top: 1px solid #ececec;
}

.hide-menu {
    z-index: 1;
    /* opacity: 0; */
    transform: translate3d(-6463px, 0, 0);
    transition: all 0.3s ease-in-out;
}

.show-menu {
    z-index: 1;
    /* opacity: 1; */
    transform: translate3d(0, 0, 0);
    transition: all 0.3s ease-in-out;
}

.current-path{
    border-left: 3px solid #927a56;
}

.page-footer > .containter{
    color: white;
    gap: 1em;
    width: 80%;
    max-width: 80em;
}

.page-footer > .containter > .item{
    width: 25em;
    flex-grow: 1;
}

.page-footer > .containter > .item > p:first-child{
    font-size: 1.5em;
    font-weight: bolder;
}

.page-footer > .containter > .item > p:last-child{
    overflow-wrap: break-word;
}

.contact_container{
    gap: 3em;
    margin: 2em 0;
    text-align: center;
}

.contact_item{
    width: 13em;
}

.contact_item > p:first-child{
    font-size: 1.5em;
    font-weight: bolder;
}

.social_list{
    display: flex;
    justify-content: center;
    font-size: 2em;
    color: black;
    gap: 1em;
    margin-bottom: 1em;
    transition: all .5s cubic-bezier(0.24, 0.57, 0.58, 1);
}

.social_list > a > div:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.product_container{
    max-width: 57em;
    margin: 3em auto;
    border-top: 1px solid#c0c0c0;
    padding: 2em 0;
    gap: 2em;
}

.product_container > .item{
    box-shadow: 0px 0px 8px #00000082;
}

.product_container:last-child{
    border-bottom: 1px solid #c0c0c0;
}

.product_thumbnail{
    width: 12em;
}

.product_info{
    width: 69%;
    justify-content: space-between;
    align-items: center;
}

.product_title{
    font-size: 1.5em;
    /* font-weight: bolder; */
    /* width: 12em; */
}

.just_a_element{
    gap: 1em;
    align-items: center;
}

.just_a_element > div:last-child{
    margin: 0 5%;
    text-align: center;
    cursor: pointer;
}

.product_count{
    width: fit-content;
    display: flex;
    border: 1px solid black;
    align-items: center;
}

.product_count > div{
    width: 1.5em;
    text-align: center;
    /* font-weight: bolder; */
    cursor: pointer;
    height: 1.62em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in;
}

.product_count > div:hover{
    background-color: black;
    color: white;
}

.product_count > input{
    width: 3em;
    height: 1.8em;
    text-align: center;
    border-top: none;
    border-bottom: none;
}

.product_count > input:focus-visible{
    outline: none;
}

.checkout_container{
    gap: 1em;
}

.checkout_total > span{
    margin: auto;
}

.product_section{
    display: grid;
    grid-template-columns: 19% 79%;
    gap: 1.5em;
    max-width: 80em;
    width: 95%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.new_arrival{
    grid-template-columns: calc(100%/4) calc(100%/4) calc(100%/4) calc(100%/4);
    max-width: 61em;
    width: 90%;
    justify-content: center;
}

.product_section > .product_list{
    grid-template-columns: calc(100%/5.5) calc(100%/5.5) calc(100%/5.5) calc(100%/5.5) calc(100%/5.5);
    justify-content: center;
    width: 100%;
}

.product_p{
    max-width: 80em;
    margin: .5em auto 1em auto;
    background: #f3f3f3;
    padding: 3em 0;
    gap: 1em;
    box-shadow:0px 5px 8px #bbbbbb;
    row-gap: 2em;
    
}

.product_p > .preview_image{
    width: 40%;
}

.product_p > .product_info{
    width: 45%;
    height: fit-content;
    gap: 1em;
}

.product_p > .product_info > .button{
    width: fit-content!important;
}

.cart_count{
    position: absolute;
    font-size: .6em;
    width: fit-content;
    min-width: 1em;
    padding: .1em .3em;
    background: #927a56;
    color: white;
    border-radius: 15px;
    text-align: center;
    top: -.3em;
    left: 1.2em;
}