<div class="flex_group flex_wrap containter e_center">
    <div class="item">
        <p>About Us</p>
        <p>Integer condime condimentum condimesdfsdfsdntedcondimesdfsdfsdntedcondimesdfsdfsdntedcondimesdfsdfsdntedcondimesdfsdfsdnted dsemeu u finibus portturabitur imperdiet. Integer condime condimentum condimented dsemeu u finibus portturabitur imperdiet.</p>
    </div>
    <div class="item">
        <p>About Us</p>
        <p>Integer condime condimentum condimented dsemeu u finibus portturabitur imperdiet. Integer condime condimentum condimented dsemeu u finibus portturabitur imperdiet.</p>
    </div>
    <div class="item">
        <p>About Us</p>
        <p>Integer condime condimentum condimented dsemeu u finibus portturabitur imperdiet. Integer condime condimentum condimented dsemeu u finibus portturabitur imperdiet.</p>
    </div>
</div>