<div class="top_nav">
    <img button="index" style="cursor: pointer;" gsrc="v1635301447/logo_iuzdtp.png" alt="logo123">
    <div class="top_menu">
        <a href="index.html" class="top_menu_item desktop">Home</a>        
        <a href="shop.html" class="top_menu_item desktop">Shop</a>
        <a href="contact.html" class="top_menu_item desktop">Contact</a>
        <div class="top_menu_icon">
            <div class="top_menu_item search_ico size_1-5"></div>
            <a href="cart.html" class="top_menu_item cart_ico size_1-5">
                <div class="cart_count"></div>
                <script>
                    get_cart_quantity();
                </script>
            </a>
            <div class="top_menu_item menu_ico size_1-5 mobile"></div>
        </div>
    </div>
</div>
<div class="side_nav hide-menu text-white mobile">
    <div class="side_nav_container">
        <div class="text--maincolor side_nav_list">
        <a href="index.html">Home</a>
        <a href="shop.html">Shop</a>
        <a href="contact.html">Contact</a>
        <script>
            if(window.location.pathname == "/" || window.location.pathname == "/index.html")
            {
                document.getElementsByClassName("side_nav_list")[0].children[0].classList.add("current-path");
            }else if(window.location.pathname == "/shop.html" || window.location.pathname == "/product.html"){
                document.getElementsByClassName("side_nav_list")[0].children[1].classList.add("current-path");
            }else if(window.location.pathname == "/pricing.html"){
                document.getElementsByClassName("side_nav_list")[0].children[2].classList.add("current-path");
            }
        </script>
        </div>
    </div>
</div>
<div class="side-nav__backdrop"></div>
